.btn {
	position: relative;
	overflow: hidden;
	display: inline-flex;
	border-radius: $gl_radius;
	@include bp($point_4) {
		width: 100%;
	}

	&:before {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 5rem;
		width: 1rem;
		height: 1.7rem;
		background: url('../../i/global/arrow.svg') center/cover no-repeat;
		content: '';
		pointer-events: none;
		@include bp($point_2) {
			display: none;
		}
	}
	button, input[type="submit"], a {
		padding: 1.9rem 8rem 1.9rem 5rem;
		color: $white;
		border: 0.1rem solid rgba(255, 255, 255, 0.35);
		border-radius: $gl_radius;
		font-size: 2rem;
		transition: all .3s ease;
		font-family: $font_2;
		@include bp($point_2) {
			padding: 1.9rem 3rem;
		}
		@include bp($point_4) {
			padding: 1.5rem 2rem;
			width: 100%;
			font-size: 1.6rem;
		}
	}
	&.white {
		&:before {
			background: url('../../i/global/arrow.svg') center/cover no-repeat;
		}
		&:hover {
			&:before {
				background: url('../../i/global/arrow-dark.svg') center/cover no-repeat;
			}
			button, input[type="submit"], a {
				background-color: $white;
				color: $dark;
			 }
		}
	}

	&.dark {
		&:before {
			background: url('../../i/global/arrow-dark.svg') center/cover no-repeat;
		}
		&:hover {
			&:before {
				background: url('../../i/global/arrow.svg') center/cover no-repeat;
			}
			button, input[type="submit"], a {
				background-color: $dark;
				color: $white;
			 }
		}
		button, input[type="submit"], a {
			border: .1rem solid rgba(34, 34, 34, 0.2);
			color: $dark;
		}
	}
}