.block_about--top {
	@include flex-start;
	align-items: flex-start;
	@include bp($point_2) {
		flex-direction: column;	
	}
}

.block_about_img {
	margin-right: 6rem;
	flex: 100%;
	max-width: 67.2rem;
	@include bp($point_2) {
		margin: 0 0 4rem 0;
	}
	@include bp($point_4) {
		margin: 0 0 2rem 0;
	}
}

.global-small_img {
	max-width: 52.4rem;
}

.small-area_txt {
	max-width: 76.3rem;
}

.block_txt_main {
	max-height: 63.6rem;
	overflow: auto;
	padding-right: 4.5rem;
	@include bp($point_2) {
		max-height: 100%;
		padding-right: 0;
	}

	&::-webkit-scrollbar {
		width: .2rem;
	}
	&::-webkit-scrollbar-track {
		background-color: rgba(34, 34, 34, 0.200);
	}
	&::-webkit-scrollbar-thumb {
		background-color: $dark;
	}
}

.block_txt {
	h2, h3, h4, h5, h6 {
		padding: 1.5rem 0;

		@include bp($point_4) {
			padding: 1rem 0;
		}

		&:first-child {
			padding-top: 0;
		}
	}

	& b{
		padding: 1.5rem 0;
		display: block;

		@include bp($point_4) {
			padding: 1rem 0;
		}
	}
	p, span {
		display: block;
		padding: 1rem 0;
	}

	ul {
		@include bp($point_4) {
			padding: 2rem 0;
		}
		&>li {
			position: relative;
			padding-left: 1.5rem;
			@include bp($point_4) {
				padding-left: 1rem;
			}
			&:before { 
				position: absolute;
				top: 1rem;
				left: 0;
				content: '';
				width: .5rem;
				height: .5rem;
				background-color: $dark;
				border-radius: 100%;
				@include bp($point_4) {
					top: .8rem;
					width: .4rem;
					height: .4rem;
				}
			}
			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}
		}
		&.people_list {
			li {
				padding: 1.5rem 0;
				margin-bottom: 0;

				@include bp($point_4) {
					padding: 1.3rem 0;
				}
				&:before {
					display: none;
				}
				b {
					padding: 1rem 0;
				}
	
			}
		}

	}

}