.workTab_main {
	h2, h3, h4, h5, h6 {
		margin-bottom: $m10;
		@include bp($point_4) {
			margin-bottom: 6rem;
		}
	}
}
.workTab_list--link::-webkit-scrollbar { width: 0; }
.workTab_list--link {
	@include flex-space;
	margin-bottom: 7.5rem;
	border-bottom: .1rem solid rgba(34, 34, 34, 0.2);
	@include bp($point_2) {
		margin-bottom: 4rem;
	}
	@include bp($point_5) {
		flex-wrap: nowrap;
		align-items: flex-start;
		border: none;
		overflow-x: auto;
		margin-bottom: 0;
	}
	li {
		width: 33%;
		text-align: center;
		cursor: pointer;
		font-size: $fz25;
		font-family: $font_4;
		padding-bottom: 2rem;
		position: relative;
		@include bp($point_2) {
			font-size: 1.8rem;
		}
		
		@include bp($point_5) {
			font-size: 1.6rem;
			width: 100%;
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			white-space: nowrap;
			min-width: 17rem;
			border-bottom: .1rem solid rgba(34, 34, 34, 0.2);
		}
		&.active_tab {
			&:before {
				width: 100%;
			}
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
		&:before {
			position: absolute;
			bottom: -.1rem;
			left: 0;
			width: 0%;
			border-bottom: .1rem solid $dark;
			content: '';
			transform-origin: left;
			transition: all .4s ease;
			@include bp($point_4) {
				bottom: -.1rem;
			}
		}
		&:after {
			position: absolute;
			bottom: -.4rem;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
			width: .7rem;
			height: .7rem;
			background-color: $dark;
			content: '';
			opacity: 0;
			visibility: hidden;
		}
	}
}

.workTab_content_item {
	@include flex-start;
	align-items: flex-start;
	display: none;
	@include bp($point_2) {
		flex-direction: column;
	}
	@include bp($point_4) {
		padding-top: 3rem;
	}
	&.active_tab {
		display: flex;
	}

	h2, h3, h4, h5, h6 {
		font-size: 3rem;
		margin-bottom: 2rem;
		@include bp($point_4) {
			font-size: 2.2rem;
			margin-bottom: 1rem;
		}
	}
}

.workTab_slider_w {
	max-width: 77.2rem;
	position: relative;
	@include bp($point_2) {
		max-width: 100%;
	}
	.worTab_slider  {
		&:hover {
			.slider_nav_double {
				opacity: 1;
				visibility: visible;
				transform: translate(-50%, -50%);
			}
		}
	}

	.slider_nav_double {
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease;
		transform: translate(-50%, -70%);
		@include bp($point_4) {
			opacity: 1;
			visibility: visible;
		}
		@include bp($point_2) {
			opacity: 1;
			visibility: visible;
			transform: translate(-50%, -50%);
		}
		&:hover {
			opacity: 1;
			visibility: visible;
			transform: translate(-50%, -50%);
		}
		div {
			background-color: #ffffffa6;
			width: 4rem;
			height: 4rem;
			@include flex-center;
			padding: 1.5rem;
			border-radius: 100%;
		}
	}
}

.workTab_txt {
	p, ul, li, ol, span, b, strong, i {
		padding: 1rem 0;
	}
}

.workTab_content_txt {
	margin-right: 9rem;
	@include bp($point_2) {
		margin: 0 0 4rem 0;
	}
}

.workTab_service {
	.workTab_content_item  {
		@include bp($point_4) {
			padding-top: 3rem;
		}
	}
}


