header.header(data-aos="fade-in") 
	.section_in 
		.header_main
			.header_logo 
				a(href="#")
					img(src="i/global/logo.svg", alt="Logotype website")
			.header_right 
				ul.header_info 
					each item in ['+7 (926) 684 57 00', 'info@designkopov.ru']
						li 
							a(href="#" class="link-accent")=item
				.burger_w.trigger(data-target="burger") 
					.burger 
						span 
						span 