section.seo.showMoreBlock 
	.section_in 
		.seo_main
			.showMoreTxt 
				h2 Заголовок для СЕО текста
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sed tenetur vero voluptas necessitatibus est odit fugit nemo mollitia. Accusamus, alias corporis odio distinctio magni cumque eligendi unde sequi iure.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ea alias voluptates, animi fugiat amet, soluta fugit deserunt sequi voluptate laborum similique rem! Itaque repudiandae esse repellat sequi, adipisci minima?Tenetur, voluptatibus optio. Cum deleniti facilis mollitia quas? Quibusdam aut est et laboriosam sed in excepturi omnis pariatur eum voluptatem illum, nisi earum autem id! Rerum voluptas atque quos optio.Error quos ipsam nobis ex ipsum! Sequi delectus soluta recusandae perferendis blanditiis! Animi, quaerat tenetur nihil repellat possimus obcaecati consequuntur expedita recusandae repellendus odio nobis sapiente deserunt, reiciendis, corrupti nulla?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum rerum nemo distinctio autem vitae minima dolorum ducimus esse. Aliquam at distinctio unde quod non accusamus nesciunt magni amet officia omnis.Soluta facilis distinctio saepe commodi, laudantium itaque tempore alias at pariatur dolor. Quod vitae esse earum? Suscipit illo, asperiores animi laudantium repellendus, corrupti autem tempore veritatis quae, sit fugiat repudiandae.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit quia nam deleniti recusandae officia vitae nostrum? Repellendus iste fugit alias quibusdam, adipisci error eius, porro rerum harum ipsa magnam!
				strong Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus enim odit, accusamus neque et rem nisi ut atque ipsa labore, eius accusantium eum commodi temporibus. Maiores officia error consequatur ipsam.
				ul 
					li
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima vero atque commodi dolorum, iure quaerat eaque deserunt cumque suscipit? Dolor id eius sed iste animi voluptatum consequatur veritatis, ex nesciunt.
					li
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum deserunt consectetur culpa illum? Voluptatem aliquid inventore facere corporis vero molestias, atque a, ullam nemo illo ratione voluptatibus, corrupti accusamus repudiandae.
					li
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic doloribus dolorem repellendus laudantium nesciunt numquam cum eum, eveniet sapiente odit assumenda, aut quidem magni repellat inventore eius molestiae deleniti. Maxime!
				h3 Заголовок h3
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure cum temporibus ea harum praesentium ad doloribus! Eveniet animi maxime quasi, consectetur aliquam, eligendi ex qui asperiores at deserunt veritatis dolorum?
		+btn({
				name: 'Показать больше',
				mod: 'dark more-btn showMoreBtn',
			})