extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Обучение'}
block content_block
	+custom-hero({
		current: array.title_inner,
		item: 'Главная',
		visible: true,
	})
	+block-about({
		img: 'single-news',
		txtClass: 'small-area_txt',
		top: `
		<h2>Блок с фото и текстом 1</h2>
		<p>В интерьерах всё меньше встречается чистый выверенный стиль, во многом потому, что проектирование домов и квартир — это вообще не про стиль, это про человека. Про его мечты, привычки и воспоминания. Детали внутренней жизни, которые мы стараемся отразить, могут приобрести совершенно разные формы в интерьере.<p>
		<p>Поэтому наш стиль – это авторское интерьерное решение, созданное на основе наших знаний, опыта и пожеланий заказчика.</p>
		`,
		bottom: `
			<h2>Блок текстовый 2</h2>
			<p>Кто мы и что можем сказать о себе? ____ - это уверенная команда, которая знает что нужно именно вам и поможет воплотить все идеи в эксклюзивном интерьере. ____ - это чуткие люди, готовые оказать дружескую поддержку и не дать сойти с пути во время длительного ремонта. ______ - это специалисты, которые способны проектировать осмысленный дизайн, делать счастливыми и успешными тех, кто выбирает нас. И, наконец, _______ - это те, кто говорит на одном языке со своими заказчиками, ценит оказанное доверие и всегда его оправдывает.</p>
			<p>Студия держит высокую планку качества на объектах любой площади и без труда поможет обустроить как однокомнатную квартиру, так и крупный ресторан или офис. Комфорт, успех, искренние эмоции людей и эстетика – наши главные ориентиры. Говоря о себе, мы привыкли быть честными. Чуткость и индивидуальный подход – атрибуты бренда, за которыми стоит огромная работа.</p>
			<p>При создании интерьера важна каждая деталь: на выбор штор и положение кровати влияет то, любите вы поспать подольше или встаете с первыми лучами. С нами функционал кухонь точно не будет одинаковым для всех проектов, ведь кто-то очень ценит свое время и предпочитает готовую еду, а кто-то считает готовку искусством и раскрывается в нем, не замечая времени.</p>
		`
	})
	include global/application
	