extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'О нас'}
block content_block
	+custom-hero({
		current: array.title_inner,
		item: 'Главная',
		visible: true,
	})
	+block-about({
		img: 'about-2',
		txtClass: 'small-area_txt',
		top: `
		<h2>Компания будущего</h2>
		<p>Наша компания - это не просто бизнес; это компания будущего, которая воплощает искусство в своих проектах, наполняя интерьер особым смыслом, и помогает своим клиентам достигать результатов каждый день. Очень важно, чтобы интерьер отражал ваши желания, цели и образ жизни. Мы точно знаем как это сделать.</p>
		<p>Предоставляя высокое качество услуг, мы создаем те проекты, в которых будет реализована ваша личность, ваша яркая индивидуальность.</p>
		<p>Мы ценим тех, кто выбирает нас, кто понимает, что интерьер, созданный чуткими профессионалами – это инвестиция в успех, проявление любви к себе и своей жизни, награда за достижения, воплощение лучшего в вас. И именно для тех, кто нам доверяет, мы раскрываемся как самая продуктивная и совершенная команда будущего, для которой не существует невозможных задач.</p>
		`,
		bottom: `
			<h2>Преимущества и причины доверять</h2>
			<ul>
				<li>У нас есть собственный штат дизайнеров и архитекторов, с нами вы можете не просто придумать интерьер, но и построить собственный дом;</li>
				<li>Мы проницательны – в вашей голове еще нет идеальной картинки, а наша команда уже готова предложить возможные решения;</li>
				<li>Мы чувствуем каждого и знаем что нужно именно вам;</li>
				<li>Гарантируем внимание к качеству услуг и деталям даже на крупных проектах для коммерческих помещений;</li>
				<li>Мы постоянно развиваемся: посещаем выставки, повышаем квалификацию и прокачиваем свои навыки для того, чтобы быть лучшими.></li>
				<p>Мы не только хорошо выполняем свою работу, но и по-настоящему любим то, чем занимаемся, поэтому каждый наш проект – это искренняя забота о комфорте заказчика и внимание к каждой детали</p>
			</ul>
		`
	})
	section.quote.m-block
		.section_in 
			.quote_main(data-aos="fade-in") 
				.quote_title 
					h3 Наш девиз
				p “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat”
	+sliderCard({
		team: true,
		title: 'Наша команда',
		name: ['Максим Хлоповских', 'Евгения Корнеева', 'Максим Лысиков'],
		subtitle: ['Основатель дизайн студии', 'Главный дизайнер/декоратор', 'Главный архитектор/проектировщик'],
		imgList: ['people-0', 'people-1', 'people-2']
	})
				
	+workTab({
		title: 'Принципы работы',
		links: [
			{
				attr: 'concept',
				link: 'Концепция'
			},
			{
				attr: 'details',
				link: 'Внимание к деталям'
			},
			{
				attr: 'relation',
				link: 'Реализация'
			},
		],
		workTabs: [
			{
				attr: 'concept',
				title: 'Концепция'
			},
			{
				attr: 'details',
				title: 'Внимание к деталям'
			},
			{
				attr: 'relation',
				title: 'Реализация'
			},
		]
	})
	+creative-block({title: 'Комплексный подход', visibleBtn: true})
	+brand({
		class: 'custom_mb'
	})