extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Дизайн интерьера квартиры'}
block content_block
	+custom-hero({
		current: array.title_inner,
		item: 'Главная',
		visible: true,
	})
	+block-about({
		img: 'service',
		txtClass: 'small-area_txt',
		top: `
		<h2>Описание услуги</h2>
		<p>Наша компания - это не просто бизнес; это компания будущего, которая воплощает искусство в своих проектах, наполняя интерьер особяркая индивидуальность.</p>
		<p>Мы ценим тех, кто выбирает нас, кто понимает, что интерьер, созданный чуткими профессионалами – это инвестиция в успех, проявление любви к себе и своей жизни, награда за достижения, воплощение лучшего в вас. И именно для тех, кто нам доверяет, мы раскрываемся как самая продуктивная и совершенная команда будущего, для которой не существует невозможных задач.</p>
		`,
	})
	+workTab({
		title: 'Этапы работы',
		class: 'workTab_service',
		links: [
			{
				attr: 'step0',
				link: 'Знакомство'
			},
			{
				attr: 'step1',
				link: 'Концепция'
			},
			{
				attr: 'step2',
				link: 'Проектирование'
			},
			{
				attr: 'step4',
				link: 'Реализация'
			},
		],
		workTabs: [
			{
				attr: 'step0',
				link: 'Знакомство'
			},
			{
				attr: 'step1',
				link: 'Концепция'
			},
			{
				attr: 'step2',
				link: 'Проектирование'
			},
			{
				attr: 'step4',
				link: 'Реализация'
			},
		],
	})
	section.tarif 
		.section_in 
			.tarif_main(data-aos="fade-up")
				h4 Выберите тариф
				ul.tarif_list.grid-3 
					-for(i = 0; i < 3; i++)
						- let tarifTitle = ['Чертежный', 'Эскизный', 'Полный']
							li.tarif_card.showMoreBlock 
								.tarif_card_top 
									h3=tarifTitle[i]
								.tarif_card_body 
									p Состав проекта:
									ul.tarif_sublist.showMoreTxt 
										each item in ['Техническое задание', 'Ведомость рабочих чертежей', 'Обмерный план', 'План демонтажа', 'План перепланировки', 'План расстановки мебели', 'План отделки полов', 'План потолков', 'План размещения светильников', 'План групп включения', 'План групп включения', 'План отделки полов', 'План размещения светильников']
											li=item 
									button(type="button" class="showMoreBtn") Показать больше
								.tarif_card_bottom 
									p Итого:
									span!='8 900 руб/м2'
								.tarif_card--btn
									+btn({
										name: 'Заказать проект',
										target: 'form',
									})
				p Авторский надзор рассчитывается отдельно.